In [1]:
import pandas as pd

In [2]:
path = ''
Demo =pd.read_csv(path+'Demographics.csv')

In [5]:
P_statues = pd.read_csv(path+'Participant_Status.csv')
P_statues.head(5)

,PATNO,COHORT,COHORT_DEFINITION,ENROLL_DATE,ENROLL_STATUS,STATUS_DATE,ENROLL_AGE,INEXPAGE,AV133STDY,PPMI_ONLINE_ENROLL,...,COMMENTS,CONDATE,ENRLPINK1,ENRLPRKN,ENRLSRDC,ENRLHPSM,ENRLRBD,ENRLLRRK2,ENRLSNCA,ENRLGBA
0,3000,2,Healthy Control,02/2011,enrolled,05/2021,69.1,INEXHC,0.0,NO,...,NaN,06/2021,0.0,0.0,0.0,0,0,0,0,0
1,3001,1,Parkinson's Disease,03/2011,enrolled,09/2021,65.1,INEXPD,0.0,NO,...,NaN,06/2021,0.0,0.0,1.0,0,0,0,0,0
2,3002,1,Parkinson's Disease,03/2011,enrolled,09/2021,67.6,INEXPD,0.0,NO,...,NaN,06/2021,0.0,0.0,1.0,0,0,0,0,0
3,3003,1,Parkinson's Disease,04/2011,enrolled,01/2022,56.7,INEXPD,0.0,YES,...,NaN,06/2021,0.0,0.0,1.0,0,0,0,0,0
4,3004,2,Healthy Control,04/2011,enrolled,01/2022,59.4,INEXHC,0.0,YES,...,NaN,06/2021,0.0,0.0,0.0,0,0,0,0,0

In [8]:
se = pd.read_csv(path+'Subject_Cohort_History.csv')

In [13]:
df = P_statues[['PATNO', 'ENROLL_DATE', 'ENROLL_AGE', 'ENROLL_STATUS','STATUS_DATE','COHORT']].merge(se[['PATNO', 'APPRDX']], how='outer', on='PATNO')

In [15]:
df = df.merge(Demo[['PATNO', 'BIRTHDT', 'SEX']], on='PATNO', how= 'inner')

In [17]:
len(df['PATNO'].unique())

2542

In [19]:
pre=df[df.COHORT==4]

Merge with PD features to include predominantly affected side information

In [17]:
dis_feat = pd.read_csv(path + 'PD_Features.csv')
dis_feat

,REC_ID,F_STATUS,PATNO,EVENT_ID,PAG_NAME,INFODT,SXMO,SXYEAR,PDDXDT,PDDXEST,DXTREMOR,DXRIGID,DXBRADY,DXPOSINS,DXOTHSX,DOMSIDE,ORIG_ENTRY,LAST_UPDATE,QUERY,SITE_APRV
0,226923001,S,3403,SC,PDFEAT,06/2010,6.0,2009,03/2010,DAY,0,1,0,0,0,2.0,06/2010,2020-06-29 14:40:45.0,NaN,07/2010
1,226845501,S,3400,SC,PDFEAT,06/2010,3.0,2007,10/2009,ACT,1,1,1,0,0,1.0,06/2010,2020-06-29 14:40:02.0,NaN,07/2010
2,226895901,S,3402,SC,PDFEAT,06/2010,7.0,2008,03/2010,DAY,1,0,1,0,0,2.0,06/2010,2020-06-29 14:49:46.0,NaN,06/2010
3,232711801,S,3406,SC,PDFEAT,07/2010,6.0,2008,01/2010,DAY,1,1,1,0,0,1.0,07/2010,2020-06-29 14:42:11.0,NaN,07/2010
4,241672401,S,3407,SC,PDFEAT,08/2010,1.0,2010,02/2010,DAY,1,1,1,0,0,1.0,09/2010,2020-06-29 14:43:07.0,NaN,09/2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1059,756318201,S,5013,SC,PDFEAT,09/2019,6.0,2018,07/2019,1,0,1,U,0,1,2.0,09/2019,2020-05-01 14:39:03.0,NaN,09/2019
1060,760685601,S,5014,SC,PDFEAT,11/2019,6.0,2017,09/2019,3,U,1,1,0,1,2.0,11/2019,2020-05-01 14:40:10.0,NaN,11/2019
1061,760748201,S,5015,SC,PDFEAT,11/2019,7.0,2019,09/2019,1,1,1,1,1,0,2.0,11/2019,2020-05-01 14:41:01.0,NaN,11/2019
1062,761008701,S,5016,SC,PDFEAT,11/2019,6.0,2016,07/2019,1,0,0,1,1,1,1.0,11/2019,2020-05-01 14:41:44.0,NaN,11/2019
1063,767509201,S,5018,SC,PDFEAT,02/2020,6.0,2016,01/2020,1,0,1,1,0,1,1.0,02/2020,2020-05-01 14:58:42.0,NaN,02/2020

In [18]:
df = df.merge(dis_feat[['PATNO', 'DOMSIDE']], how='outer', on='PATNO')
df[~df.ENROLL_DATE.isnull()].groupby('APPRDX').PATNO.count()
len(df['PATNO'].unique())
new_df = df[~df.ENROLL_DATE.isnull()]
len(new_df['PATNO'].unique())

In [24]:
new_df.groupby('COHORT').PATNO.count()

COHORT
1.0    986
2.0    255
3.0     64
4.0    702
9.0     16
Name: PATNO, dtype: int64

In [25]:
new_df.groupby('APPRDX').PATNO.count()

APPRDX
1.0    235
2.0    111
3.0      3
4.0     36
5.0    199
6.0    354
9.0     13
Name: PATNO, dtype: int64

In [20]:
path2 = '/Users/serenelian/Downloads/MSRA/data/all study data/'
pdi = pd.read_csv(path2+'PD_Diagnosis_History.csv')

In [22]:
pdi[pdi.PATNO.isin(pre.PATNO)]

,REC_ID,PATNO,EVENT_ID,PAG_NAME,INFODT,SXDT,PDDXDT,DXTREMOR,DXRIGID,DXBRADY,DXPOSINS,DXOTHSX,ORIG_ENTRY,LAST_UPDATE
776,553276301,51557,SC,PDFEAT,02/2016,06/2015,02/2016,1.0,1.0,1.0,0.0,0.0,02/2016,2020-06-30 12:56:16.0
806,675654001,56169,V04,PDFEAT,01/2018,10/2008,07/2017,1.0,1.0,1.0,0.0,0.0,02/2018,2020-06-29 17:46:28.0

In [33]:
prd[prd['RETURNNONPD_DIAG_STATUS_OL']==2]

,RESPONDENT_ID,PATNO,EVENT_ID,MOD_INSTANCE_ID,MODIFIED_AT,CREATED_AT,RESPONSE_STATUS,RETURNNONPD_SOURCE_OL,RETURNNONPD_DIAG_STATUS_OL,RETURNNONPD_DIAG_AGE_OL
4359,13414381596,101761,OL02,306419520,03/2022,03/2022,1,1,2.0,65.0
6505,13458314026,134566,OL02,306419520,04/2022,04/2022,1,1,2.0,69.0
6791,13464069576,18491,OL02,306419520,05/2022,05/2022,1,1,2.0,73.0
10503,13499060368,101761,OL03,306419520,06/2022,06/2022,1,1,2.0,65.0
13069,13524494066,134566,OL03,306419520,07/2022,07/2022,1,1,2.0,69.0
13678,13528829604,18491,OL03,306419520,08/2022,08/2022,1,1,2.0,73.0

In [34]:
pdo = pd.read_csv(path2+'Age_of_Parkinson_s_Disease_Diagnosis__Online_.csv')

In [35]:
prd=pdo[pdo.PATNO.isin(pre.PATNO)]

In [31]:
prd.to_csv('/Users/serenelian/Downloads/MSRA/data/processed/predom_online_pd.csv',index=False)

We need to merge enroll date and diagnosis to create the Parkinson's disease and healthy control cohorts.

In [ ]:
ds = pd.read_csv(path + 'Randomization_table.csv',index_col=0)
ds.head()

In [ ]:
patdemo = pd.read_csv(path + 'Screening___Demographics.csv')
patdemo.head()

In [ ]:
df = ds[['PATNO', 'ENROLLDT', 'BIRTHDT', 'GENDER']].merge(patdemo[['PATNO', 'APPRDX']], how='outer', on='PATNO')

Merge with PD features to include predominantly affected side information

In [ ]:
dis_feat = pd.read_csv(path + 'PD_Features.csv')

In [ ]:
df = df.merge(dis_feat[['PATNO', 'DOMSIDE']], how='outer', on='PATNO')

In [ ]:
df[~df.ENROLLDT.isnull()].groupby('APPRDX').PATNO.count()

In [ ]:
df.to_csv('demographics.csv')