In [2]:
import pandas as pd

## Motor data
### MDS-UPDRS and Modified Schwab and England ADL

In [4]:
path = ''
mds1a = pd.read_csv(path + 'MDS-UPDRS_Part_I.csv')
mds1b = pd.read_csv(path + 'MDS-UPDRS_Part_I_Patient_Questionnaire.csv')
mds2 = pd.read_csv(path + 'MDS_UPDRS_Part_II__Patient_Questionnaire.csv')
mds3 = pd.read_csv(path + 'MDS_UPDRS_Part_III.csv')
mds4 = pd.read_csv(path + 'MDS-UPDRS_Part_IV.csv')
mse = pd.read_csv(path + 'Modified_Schwab___England_Activities_of_Daily_Living.csv')

/Users/serenelian/Downloads/ENTER/envs/lunggraph/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

There are several files that contribute to the overall motor assesment score. The score is the 'Unified Parkinson's Disease Rating Scale' (https://www.movementdisorders.org/MDS-Files1/PDFs/Rating-Scales/MDS-UPDRS_English_FINAL.pdf). All the questions are supposed to reference the patient's experience over the past week.

In [8]:
mds3['PAG_NAME'].value_counts()

NUPDRS3     14216
NUPDR3ON     1868
NUPDRS3A     1861
NUPDR3OF     1751
Name: PAG_NAME, dtype: int64

In [7]:
mds1a = mds1a.drop(columns=['REC_ID', 'PAG_NAME', 'NUPSOURC', 'ORIG_ENTRY', 'LAST_UPDATE'])
mds1b = mds1b.drop(columns=['REC_ID', 'PAG_NAME', 'NUPSOURC', 'ORIG_ENTRY', 'LAST_UPDATE'])

In [9]:
mds2 = mds2.drop(columns=['REC_ID', 'PAG_NAME', 'NUPSOURC', 'ORIG_ENTRY', 'LAST_UPDATE'])
mds2.head()

,PATNO,EVENT_ID,INFODT,NP2SPCH,NP2SALV,NP2SWAL,NP2EAT,NP2DRES,NP2HYGN,NP2HWRT,NP2HOBB,NP2TURN,NP2TRMR,NP2RISE,NP2WALK,NP2FREZ,NP2PTOT
0,3000,BL,02/2011,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3000,V04,03/2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3000,V06,02/2013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3000,V08,03/2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3000,V10,03/2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
# note that page name for the updrs part 3 should not be dropped because it describes whether on or off testing is performed during annual visits
mds3 = mds3.drop(columns=['REC_ID', 'ORIG_ENTRY', 'LAST_UPDATE'])

mds4 = mds4.drop(columns=['REC_ID',  'PAG_NAME', 'ORIG_ENTRY', 'LAST_UPDATE'])
mse = mse.drop(columns=['REC_ID', 'PAG_NAME', 'ORIG_ENTRY', 'LAST_UPDATE'])

In [14]:
UPDRS = mds1a.merge(mds1b, how='outer', on=['PATNO','EVENT_ID','INFODT'])
UPDRS = UPDRS.merge(mds2, how='outer', on=['PATNO', 'EVENT_ID', 'INFODT'])
UPDRS = UPDRS.merge(mds3, how='outer', on=['PATNO', 'EVENT_ID', 'INFODT'])
UPDRS = UPDRS.merge(mds4, how='outer', on=['PATNO', 'EVENT_ID', 'INFODT'])
UPDRS = UPDRS.merge(mse, how='outer', on=['PATNO', 'EVENT_ID', 'INFODT'])

In [15]:
# save processed file
UPDRS.to_csv(path+'/processed/motor.csv', index=False)